body{
	background-color:ivory;
	color:white;
}

.Python{
	font-size:20px;
	font-weight:bold;
	
}
	
.Logisim{
	font-size:20px;
	font-weight:bold;	
}
	
h2{
	font-size:30px;
	color: white;
	border-bottom:3px solid black;
	text-align:left;
	font-style:italic;
	text-decoration:line-through;
}

h1{
	text-align:center;
	text-decoration:underline;
	color:white;
	font-style:oblique;
}


















	